@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    color: black;
}

h1, h2 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: red;
}

#logo {
    float: left;
    font-size: 270%;
    margin-left: 30px;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: blue;
}

#menu a:hover {
    border-bottom: 1.5px solid navy;
}

#victor-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#victor-image {
    height: 500px;
    width: 100%;
    background: url('../images/victor-image.jpg') no-repeat center center;
}

#welcome {
    text-align: center;
    margin: 40px 0;
    font-size: 250%;
}